@charset "UTF-8";

@import url(style_Reset.css);

div#wrap {
	width: 460px;
	padding: 10px;
	border: 3px solid #aaa;
	border-radius: 6px;
	margin: 20px auto;
}

#wrap h1 {
	color: #08f;
}

form#idChkForm>div {
	margin: 10px;
}

form#idChkForm input {
	width: 160px;
	font-size: 20px;
	padding: 4px 14px;
}

button {
	font-size: 16px;
	padding: 4px 14px;
	cursor: pointer;
}